.circle{
	position:absolute;
	width:45px;
	height:45px;
	border-radius:50%;
	background-color:black;
	top: 255px;
    left: 550px;
    display: inline-block;
    z-index: 2;
}


.circle2{
	position:absolute;
	width:45px;
	height:45px;
	border-radius:50%;
	background-color:black;
	top: 255px;
    left: 660px;
    display: inline-block;
    z-index: 2;
}

.red{
	position:absolute;
	width:55px;
	height:55px;
	border-radius:50%;
	background-color:red;
	top: 310px;
    left: 510px;
    display: inline-block;
    z-index: 2;
}

.red2{
	position:absolute;
	width:55px;
	height:55px;
	border-radius:50%;
	background-color:red;
	top: 310px;
    left: 690px;
    display: inline-block;
    z-index: 2;
}

.square{
	position:fixed;
	width:300px;
	height:250px;
	border-radius: 40%;
	background-color:yellow;
	margin-top:190px;
	margin-left:500px;
}

.square1{
	position:fixed;
	width:310px;
	height:250px;
	border-radius: 50%;
	background-color:yellow;
	margin-top:230px;
	margin-left:493px;
}

.squarebottom{
	position:fixed;
	width:300px;
	height:370px;
	border-radius: 43%;
	background-color:yellow;
	margin-top:300px;
	margin-left:500px;
}

body{
	background-color:black;
}

.wrapper{
	display: block;
	width: 100%;
	margin:0 auto;
	position:fixed;
	animation-name: wrapper;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}


.oval{
	position:fixed;
	width:67px;
	height:300px;
	border-radius: 50%;
	background-color:yellow;
	margin-left:520px;
}

.oval1{
	position:fixed;
	width:67px;
	height:300px;
	border-radius: 50%;
	background-color:yellow;
	margin-left:692px;
}

.triangle{
	width: 10; 
  	height: 10; 
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-bottom: 5px solid black;
  	background-color: blue;
  	top:400px;
  	left:200px;

}

@keyframes wrapper {
    from {margin-top:0%;}
    to {margin-top:3%;}
}

